

<div class ="align stlClP">

<h1 class = "stlClP" >Are you a Stylist or a Future client</h1>



<div class = "signUpSCDiv">


<%= link_to "Stylist", new_stylist_path, class: "signUpSC" %>

<%= link_to "Client", new_client_path, class: "signUpSC" %>

</div>

</div>