


    <div class ="video">
<h1 id ="homeC1">"BOOK ME EMPRESSED!"</h1>
<h1 id ="homeC2">Where hair Stylist and Clients Meet</h1>
  <%= submit_tag "SIGN IN", class: "homeC3" %>

<%= video_tag("whipmyhair.mp4", autoplay: :autoplay, autobuffer: true, width: "100%" ) %>

   </div>

   

  <section class ="aboutUs"> 

          <h3 class="aboutText">
         <span>ABOUT US</span> - 
This is an app that is meant to connect clients and Stylist.
As a hairstylist or any freelance job, building clientle is one of 
the most important things. 

This app is not to build clientele so much but to maintain the clients 
you have built.

It solves the problem of cancellations by allowing a client to reserve
an appoint with a stylist.

Right now this reservation process only sends a message to the stylist
that a particular client would like to book with them.

Later the a client will be reserving that appointment with a credit
card deposit.</h3>

         
      </div>



      </section>



  <div class="boxContain" id ="basic-waypoint">

 <div class="box boxEx">
 <p class="boxP">HAIR CUTS</p>
 </div>

  <div class="box boxEx">
 <p class="boxP">COLOR</p>


  </div>

 <div class="box boxEx">

 <p class="boxP">UPDOS</p>

 </div>

</div>

  <div class="boxContain" id="basic-waypoint2">

 <div class="box boxEx">

 <p class="boxP">BRAIDS</p>

 </div>

  <div class="box boxEx">

 <p class="boxP">EXTEN SIONS</p>

</div>

 <div class="box boxEx">
   

    <p class="boxP">BARBERS</p>

 </div>

</div>

<!-- contact us form -->

<h1 class = "align space">Contact Us</h1>
  <div>
     <form id="contact-form" class ="align" method="POST" action="processForm.php" name="ContactForm">
    
   

      <p class="inputfield cform"><label for="subject"></label></p> 
                <input type="text" id="name" name="name" placeholder="Subject" style="color: #fff;" onfocus="if (this.value == '90') {this.value=''; this.style.color='#000';}" required tabindex="1" /> 
    
        <p class="inputfield cform"><label for="message"></label></p> 
                <textarea name="message" id="message" tabindex="2"></textarea> 
            
      <p class="inputfield cform"><label for="name"></label></p> 
                <input type="text" id="name" name="name" placeholder="First and last name" style="color: #fff;" onfocus="if (this.value == '90') {this.value=''; this.style.color='#000';}" required tabindex="3" /> 
                 
        <p class="inputfield cform"><label for="email"></label></p> 
                <input type="text" id="email" name="email" placeholder="yourname@domain.com" required tabindex="4" />
                
        <input name="submit" type="submit" id="submit" tabindex="5" value="Submit" />
     </form>
  
 
  </div>
  

