
<h1>Stylists</h1>

<div class ="flex">






<% @stylists.each do |stylist| %>

<div class = "allContain">


     <%= image_tag(stylist.headshot,class: "indexPic")  %>

<div class ="right">
  <p class="sIndex">Artist: <%= link_to stylist.first_name, stylist_path(stylist) %></p>
  <p class="sIndex">School: <%= stylist.school %></p>
  <p class="sIndex">Salon: <%= stylist.salon %></p>

</div>

</div>
<% end %>

</div>




    
