
<h1>Stylists</h1>

<div class ="flex">






<% @stylists.each do |stylist| %>

<div class = "allContain">

     <%= image_tag(stylist.headshot,class: "indexPic")  %>


  <p>Artist: <%= stylist.first_name %></p>
  <p>School: <%= stylist.school %></p>
  <p>Salon: <%= stylist.salon %></p>


</div>
<% end %>

</div>




    
