<h1>EMPRESSED</h1>

<div>
There are currently <%= @stylists.length %> signed_up
</div>

#decorate this page the way you would want your homepage to be 
#search the pictures you put in your phone

#signin with a link to sign in
#two tabs Stylist / Client

#icebox - video description of service 
#main picture a video of stylist at work 
