
* { margin: 0; padding: 0; outline: 0; border: 0; }


body { 
  /*THIS CAME FROM THE CONTACT FORM*/

  background: url(paint1.jpg) 50% repeat;
font-family: 'Lato';
  color: #fff;
  margin: 10px;

}

/*CLIENT STYLIST PAGE*/

/*.stlClP {

  font-size: 20px;
}*/




/*SESSIONS NEW PAGE */
.sEmail,
.sPassword {
width: 410px;
height: 50px;
margin-bottom: 20px;
  /*padding: 100px;*/
}

.notR,

.signUpSCDiv{

 margin-top: 50px;
 margin-left: 26px;
 
}

.signUpSC {
 margin-top: 10px;
padding: 5px;
border: 5px solid white;
width: 20%;
margin-right: 40px;
}


.signUp {
margin-top: 10px;
padding: 5px;
border: 5px solid white;
width: 20%;

}
.aboutUs {
 margin: 150px;
/* margin-right: 125px;
 margin-left: 125px;*/

 padding: 40px;
  background-color: white;
}

.aboutText {

  color: black;
}


.video {

  padding-bottom: 50px;
  height: 20%;
}
/*PARRALAX CSS*/

#home { 
/*  background: url(white.jpg) 100% repeat fixed; 
*//*  width: 100%;
*/  min-height: 500px;
  margin: 0 auto; 
  /*width: 100%; 
  max-width: 1920px; 
  position: relative; */
}




#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
/*STYLIST INDEX PAGE*/

.flex {

  display: flex;
  flex-wrap: wrap;
}


.allContain {
  margin: 5px;
  padding: 20px;
  border: 2px solid white;
  width: 40%;
}



.indexPic {

  width: 200px;
  height: 150px;

}

/*LAYOUT */



#container {
  padding-top: 70px;
 /* margin-right: 10px;
  margin-left: 10px;*/
}

/*STYLIST SHOW PAGE*/

.headShotContain {
 display: flex;

}

.credits,
.skillsID {

  padding: 50px;
}

.skillsP,
.creditsP,
.creditsh2,
.skillsh2 {

  padding-bottom: 5px;
}

.school {

  padding-bottom: 70px;
}

.bookMe {
  
  background-color: lightyellow;
  border: 5px solid white;
  padding: 30px;
  text-align: center;
}

.boxContain {

  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  background-color:  transparent;
}

.bioContain {

  width: 50%;
  padding: 50px;
}


.galleryContain {


}

.galleryImg {

  width: 250px;
  height: 200px;
  padding: 10px;
}

.testImg {

  width: 100%;
  height: 500px;
}

.testImgP {

  width: 100%;
  height: 400px;
}

/*BOXES*/



.box{
    margin: 15px;
    width: 250px;
    height: 250px;
    background-color: white;
    border: solid 1px silver;
    box-shadow: 0px 3px 5px 1px silver;
    display: inline;
    color: black;
    font-size: 40px;
    text-align: center;
}


/*NAVBAR*/

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
/*   background-color: #333;   
*/    position: fixed;
    top: 0;
    width: 100%;

    /*STYLING CAME FROM FORM*/


  padding: 10px;
 background: #5DACCA;
    }


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}






/*NOT SURE WHAT THIS IS LINKED TO*/


.cform { 
    color: black; 
}


p, 
.cform { 
    font-family: 'Lato', sans serif;
    font-weight: 300;
    font-size: 16px; 
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

h2 {
  color: white;
  font-family: 'Lato';
  font-size: 22px;
}

.current {
  text-decoration: underline;
  color: #9EcDDF;
}



/*Contact Form*/
#contact-form {
    width: 400px;
    background-color: #ffffff;
    margin: 0px auto;
    padding: 40px 40px 35px 40px;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 5px 5px;
}

input[type="text"] {
    display: inline;
    width: 400px;
  font-size: 14px;
    background-color:#DF70A3;
  font-family: 'Lato';
  color: white;
    padding: 5px 0px 5px 10px;
    margin: 5px 0px 5px 0px;
    border-radius: 3px;
    -moz-border-radius: 5px;
}

.inputfield {
  padding-top: 10px;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: white;
  font-weight: 300;
}

input[type="submit"]{
    display: inline;
    width: 410px;
  font-size: 14px;
    background-color:#DF70A3;
    color: #fff;
    padding: 5px 0px;
    margin: 10px 0px 0px 0px;
    border-radius: 3px;
    -moz-border-radius: 5px;
}

input[type="submit"]:hover {
    background-color:#777;
}

textarea {
    display: inline;
  width: 400px;
    max-width: 400px;
    height: 100px;
  max-height: 300px;
  font-size: 14px;
    background: #DF70A3;
    color:#fff;
  padding: 5px 0px 5px 10px;
    margin: 5px 0px 0px 0px;
    border-radius: 3px;
    -moz-border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
}

.footer {
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
  color: #fff;
    padding: 40px 0;
}