
* { margin: 0; padding: 0; outline: 0; border: 0; }


body { 
  /*THIS CAME FROM THE CONTACT FORM*/

  background: url(paint1.jpg) 50% repeat fixed;
  font-family: 'Lato';
  color: #fff;
  margin: 10px;

}

p {
  font-weight: bold;
}

.boxP {

  font-size: 50px;
  font-weight: bold;
  margin-top: 65px;
}

.space {
  margin-top: 40px;
  margin-bottom: 15px;
}

.cardP,
.skillsP {

  font-size: 20px;
}
/*SEARCH BY LOCATION APPLY TO ALL*/

.align {
  text-align: center;
}

.down {

  margin: 300px;
}

.larger {

  font-size: 50px;
  font-weight: bold;
}

/*CLIENT STYLIST PAGE*/



.stlClP {
  margin-top: 40px;
}


/*CLIENTS NEW*/

.sPassword2 {
  width: 410px;
  height: 25px;
  margin-bottom: 20px;
  background-color: #DF70A3;
  font-family: 'Lato';
  font-size: 14px;
  margin-top: 10px;
  padding: 5px 0px 5px 10px;
 }


/*SESSIONS NEW PAGE */
.sEmail,
.sPassword {
width: 410px;
height: 50px;
margin-bottom: 20px;
  /*padding: 100px;*/
}

.notR,

.signUpSCDiv{

 margin-top: 30px;
 margin-left: 26px;
 
}

.signUpSC {
 margin-top: 10px;
padding: 5px;
border: 5px solid white;
width: 20%;
margin-right: 40px;
}


.signUp {
margin-top: 10px;
padding: 5px;
border: 5px solid white;
width: 414px;
margin-left: 409px;


}
.aboutUs {
 margin: 150px;
 border: 20px solid rgba(0, 0, 0, 0.84);
 box-shadow: 0px 3px 5px 1px silver;

/* margin-right: 125px;
 margin-left: 125px;*/

 padding: 40px;
  background-color: white;
}

.aboutText {

  color: black;
}


.video {
  position: relative;
  border: 50px solid rgba(0, 0, 0, 0.67);
  box-shadow: 0px 3px 5px 1px silver;

/*  padding-bottom: 50px;
*/  /*height: 20%;*/
}

#homeC1 {
  font-size: 50px; 
  position: absolute;
      top: 213px;
    left: 307px;
}

#homeC2 {
  position: absolute;
  top:300px;
  left: 353px;
}


.homeC3 {


    position: absolute;
    top: 400px;
    left: 437px;
    /*font-size: 2`120px;*/

    /*display: inline;
    width: 328px;
    font-size: 14px;
    background-color:#5DACCA;;
    color: #fff;
    padding: 5px 0px;
    margin: 10px 0px 0px 0px;
    border-radius: 26px;*/
}
/*PARRALAX CSS*/

#home { 
/*  background: url(white.jpg) 100% repeat fixed; 
*//*  width: 100%;
*/  min-height: 500px;
  margin: 0 auto; 
  /*width: 100%; 
  max-width: 1920px; 
  position: relative; */
}

span {

  font-size: 30px;
  font-weight: bold;
}


#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
/*STYLIST INDEX PAGE*/

.flex {

  display: flex;
  flex-wrap: wrap;
}


.allContain {
  margin: 5px;
  padding: 20px;
  border: 2px solid white;
  width: 40%;
}



.indexPic {

border: 3px solid white;
  width: 200px;
  height: 170px;

}

.sIndex {

  font-size: 20px;
  font-weight: bold;
  /*float: right;*/
}

.right {
  float: right;
  margin-top: 50px;
  margin-right: 36px;

}


.sShow {

  font-size: 20px; 
}
/*LAYOUT */



#container {
  padding-top: 70px;
 /* margin-right: 10px;
  margin-left: 10px;*/
}

/*STYLIST SHOW PAGE*/

.headShotContain {
 display: flex;

}

.credits,
.skillsID {

  padding: 50px;
}

.skillsP,
.creditsP,
.creditsh2,
.skillsh2 {

  padding-bottom: 5px;
}

.school {

  padding-bottom: 70px;
}

.bookMe {
  
  background-color: lightyellow;
  border: 5px solid white;
  padding: 30px;
  text-align: center;
}

.boxContain {

  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  background-color:  transparent;
}

.bioContain {

  width: 50%;
  padding: 50px;
}


.galleryContain {


}

.galleryImg {

  width: 250px;
  height: 200px;
  padding: 10px;
}

.testImg {

  width: 100%;
  height: 500px;
}

.testImgP {

  width: 100%;
  height: 400px;
}

/*BOXES*/



.box{
    margin: 15px;
    width: 250px;
    height: 250px;
    background-color: white;
    border: solid 10px rgba(0, 0, 0, 0.84);
    box-shadow: 0px 3px 5px 1px silver;
    display: inline;
    color: black;
    font-size: 40px;
    text-align: center;
}


.boxEx {

  
}
/*NAVBAR*/

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
/*   background-color: #333;   
*/    position: fixed;
    top: 0;
    width: 100%;

    /*STYLING CAME FROM FORM*/


  padding: 10px;
 background: #5DACCA;
    }


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}






/*NOT SURE WHAT THIS IS LINKED TO*/


.cform { 
    color: black; 
}


p, 
.cform { 
    font-family: 'Lato', sans serif;

    font-weight: 300;
    font-size: 16px; 
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

h2 {
  color: white;
  font-family: 'Lato';
  font-size: 22px;
}

.current {
  text-decoration: underline;
  color: #9EcDDF;
}



/*Contact Form*/
#contact-form {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.03);
/*    margin: 0px auto;

*/    padding: 40px 80px 35px 40px;
    /*border: 10px solid rgba(0, 0, 0, 0.67);*/
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 5px 5px;
    margin-left: 180px;
}

input[type="text"] {
      border: 10px solid rgba(0, 0, 0, 0.67);

    display: inline;
    width: 760px;
    font-size: 18px;
    background-color: #DF70A3;
    font-family: 'Lato';
    color: white;
    padding: 15px 0px 5px 10px;
    margin: 5px 0px 5px 0px;
    border-radius: 3px;
    -moz-border-radius: 5px;
}

.inputfield {
  padding-top: 10px;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: white;
  font-weight: 300;
}

input[type="submit"]{
   display: inline;
    width: 328px;
    height: 63px;
    font-size: 14px;
    background-color: #5DACCA;
    color: #fff;
    padding: 5px 0px;
    margin: 10px 0px 0px 0px;
    border-radius: 26px;
}

input[type="submit"]:hover {
    background-color:#777;
}

textarea {
      border: 10px solid rgba(0, 0, 0, 0.67);

    display: inline;
  width: 760px;
    max-width: 7600px;
    height: 100px;
  max-height: 300px;
  font-size: 14px;
    background: #DF70A3;
    color:#fff;
  padding: 5px 0px 5px 10px;
    margin: 5px 0px 0px 0px;
    border-radius: 3px;
    -moz-border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
}

.footer {
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
  color: #fff;
    padding: 40px 0;
}